﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="anasayfa.aspx.cs" Inherits="OnlineTicket.anasayfa" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style4
        {
            width: 215px;
        }
        .auto-style5
        {
            width: 356px;
        }
        .auto-style6
        {
            width: 103px;
        }
        .auto-style7 {
            width: 762px;
            height: 155px;
        }
    </style>
</head>
<body style="background-color: #666666">
    <form id="form1" runat="server">
    


        <br />
       <center> 
           <img alt="" class="auto-style7" src="resim/banner40ar8.jpg" /><br />
           <br />
           <marquee behavior=alternate><font size="10">ONLİNE BİLET ANA SAYFA</font></marquee><br />
           <br />
           <br />
           <br />
           <br /> </center>
        <table style="width: 1292px">
            <tr>
                <td class="auto-style5">&nbsp;</td>
                <td class="auto-style6">
                    <asp:Button ID="Button1" runat="server" Text="ANA SAYFA" Width="337px" OnClick="Button1_Click" />
                </td>
                <td class="auto-style4">&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style5">&nbsp;</td>
                <td class="auto-style6">
                    <asp:Button ID="Button4" runat="server" Text="ONLİNE BİLET" Width="337px" />
                </td>
                <td class="auto-style4">&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style5">&nbsp;</td>
                <td class="auto-style6">
                    <asp:Button ID="Button2" runat="server" Text="HABERLER" Width="337px" />
                </td>
                <td class="auto-style4">&nbsp;</td>
            </tr> 
            <tr> 
                <td class="auto-style5">&nbsp;</td>
                <td class="auto-style6">
                    <asp:Button ID="Button3" runat="server" Text="KARTAL YUVASI" Width="337px" />
                </td>
                <td class="auto-style4">&nbsp;</td> 
            </tr>
        </table>
        <br />






    


        <asp:Button ID="Button5" runat="server" Text="ÜYE OL" OnClick="Button5_Click1" />






    


    </form>
</body>
</html>
