﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="BiletAl.aspx.cs" Inherits="OnlineTicket.BiletAl" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>LÜTFEN BİR YER SEÇİNİZ</title>
    <style type="text/css">
        .auto-style1 {
            width: 683px;
            height: 557px;
        }
        #form1 {
            height: 548px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
      YERİNİZİ SEÇİNİZ...
        <img alt="" class="auto-style1" longdesc="http://localhost:1164/SatinAlinanBiletlerim.aspx" src="resim/galatasaray1.gif" />

    </div>
        <p>
            <asp:Button ID="Button1" runat="server" Text="Bilet Al" Width="116px" OnClick="Button1_Click" />
        </p>
    </form>
</body>
</html>
