﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="onlineTicket.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 758px;
            height: 142px;
        }
    </style>
    </head>
<body>
    <form id="form1" runat="server">
    <div>
    <center>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <table>
            <tr>
                <td>
                    <img alt="" class="auto-style1" src="resim/banner40ar8.jpg" /></td>
            </tr>
            <tr>
                <td>
        <center>
                    <table>
            <tr>
                <td colspan="2"><marquee><p>TRABZONSPOR ONLİNE BİLET SATIŞ SİSTEMİ</p></marquee></td>
            </tr>
            <tr>
                <td>
                    <asp:Label ID="Label1" runat="server" Text="Kuallanıcı"></asp:Label>
                </td>
                <td>
                    <asp:TextBox ID="TextBox1" runat="server" TabIndex="1" Width="120px"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td>
                    <asp:Label ID="Label2" runat="server" Text="Sifre"></asp:Label>
                </td>
                <td>
                    <asp:TextBox ID="TextBox2" TextMode="password" runat="server" TabIndex="2" Width="120px"></asp:TextBox>
                </td>
            </tr>
            <tr>
               <td colspan="2">
                   <center>  <asp:Button ID="Button1" runat="server" Text="GİRİŞ" OnClick="Button1_Click" TabIndex="3" /> 
                       &nbsp;&nbsp;&nbsp; 
                       <asp:Button ID="Button2" runat="server" Text="KAYIT OL!" OnClick="Button2_Click" TabIndex="4" /> 
                    </td>
                  
            </tr>
        </table>
            </center>
                    <br />
        <center><asp:Label ID="Label3" runat="server" Text="............." Visible="False"></asp:Label></center>
                </td>
            </tr>
        </table>
        <br />
        <br />
    </center>
    </div>
    </form>
</body>
</html>
