﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="haberler.aspx.cs" Inherits="OnlineTicket.haberler" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style5
        {
            width: 290px;
            height: 156px;
        }
        .auto-style6
        {
            width: 382px;
            height: 261px;
        }
        .auto-style7
        {
            width: 562px;
            height: 238px;
        }
        .auto-style8
        {
            width: 38px;
            height: 156px;
        }
        .auto-style9
        {
            width: 449px;
            height: 156px;
        }
        .auto-style10
        {
            width: 345px;
            height: 200px;
        }
        .auto-style13
        {
            width: 290px;
        }
        .auto-style14
        {
            width: 450px;
            height: 331px;
        }
        .auto-style15
        {
            width: 343px;
            height: 257px;
        }
        .auto-style16
        {
            width: 463px;
            height: 343px;
        }
        .auto-style17 {
            width: 758px;
            height: 142px;
        }
    </style>
</head>
<body style="height: 627px; background-color: #FFFFFF">
    <form id="form1" runat="server">
     <center> 
         <img alt="" class="auto-style17" src="resim/banner40ar8.jpg" /><br />
           <br />

           <marquee behavior=alternate style="height: 38px"><font size="10">HABERLER</font></marquee><br />

         </center>


    </form>
    <p style="background-color: #FFFFFF">
        &nbsp;</p>
    <p style="background-color: #FFFFFF">
        &nbsp;</p>
    <p style="background-color: #FFFFFF">
        &nbsp;</p>
    <table style="width: 1249px">
        <tr>
            <td class="auto-style5">
                <img alt="" class="auto-style6" src="resim/Fanatik_logo.png" /></td>
            <td class="auto-style8">
                <img alt="" class="auto-style7" src="resim/fotomaç.gif" /></td>
            <td class="auto-style9">
                <img alt="" class="auto-style10" src="resim/milliyet_logo001.jpg" /></td>
        </tr>
    </table>
    <p>
        &nbsp;</p>
    <table>
    </table>
    <p>
        &nbsp;</p>
    <p>
        &nbsp;</p>
    <table style="height: 281px">
        <tr>
            <td class="auto-style13">
                <img alt="" class="auto-style14" src="resim/hc3bcrriyet.jpg" /></td>
            <td class="auto-style13">
                <img alt="" class="auto-style15" src="resim/LOGO_sabah.jpg" /></td>
            <td class="auto-style13">
                <img alt="" class="auto-style16" src="resim/postalogo1.jpg" /></td>
        </tr>
    </table>
</body>
</html>


