﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="hata.aspx.cs" Inherits="onlineTicket.hata" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 52%;
            height: 566px;
        }
        .auto-style2 {
            height: 145px;
        }
        .auto-style3 {
            font-size: xx-large;
        }
        .auto-style4 {
            width: 758px;
            height: 142px;
        }
        </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <table class="auto-style1">
            <tr>
                <td class="auto-style2">
                    <img alt="" class="auto-style4" src="resim/banner40ar8.jpg" /></td>
            </tr>
            <tr>
                <td >
                     <br />
                    <br />
                          <CENTER>
                         <strong><span class="auto-style3">404 NOT F0UND<br />
                         <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/Default.aspx" style="color: #990000">GİRİŞ YAP veya Kaydol!</asp:HyperLink>
                      
                              </span></strong>
                        </CENTER>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                         
                       
                </td>
            </tr>
            </table>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    
    </div>
    </form>
</body>
</html>
