﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="kartalyuvası.aspx.cs" Inherits="OnlineTicket.kartalyuvası" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1
        {
            width: 949px;
            height: 158px;
        }
        .auto-style5
        {
            width: 230px;
        }
        .auto-style9
        {
            width: 236px;
        }
    </style>
</head>
<body style="background-color: #666666">
    <form id="form1" runat="server">
        <center>
        <img alt="" class="auto-style1" src="resim/banner5ck4.jpg" /><div> </center>
    
    </div>
        <font size="9"><center> KARTAL YUVASI </center> </font>
        <table>
            <tr>
                <td class="auto-style5">
                    <asp:Button ID="Button4" runat="server" Text="ERKEK" Width="236px" />
                </td>
                <td class="auto-style5">
                    <asp:Button ID="Button1" runat="server" Text="BAYAN" Width="236px" />
                </td>
                <td class="auto-style5">
                    <asp:Button ID="Button2" runat="server" Text="ÇOCUK" Width="236px" />
                </td>
                <td class="auto-style5">
                    <asp:Button ID="Button3" runat="server" Text="BEBEK" Width="236px" />
                </td>
            </tr>
        </table>
        <p>
            &nbsp;</p>
        <p>
            &nbsp;</p>
        <table>
            <tr>
                <td class="auto-style9">
                    <asp:Button ID="Button8" runat="server" Text="TARAFTAR" Width="236px" />
                </td>
                <td class="auto-style9">
                    <asp:Button ID="Button5" runat="server" Text="AKSESUAR" Width="236px" />
                </td>
                <td class="auto-style9">
                    <asp:Button ID="Button6" runat="server" Text="ADİDAS" Width="236px" />
                </td>
                <td class="auto-style9">
                    <asp:Button ID="Button7" runat="server" Text="KAMPANYALAR" Width="236px" />
                </td>
            </tr>
        </table>
        <p>
            &nbsp;</p>
        <p>
            &nbsp;</p>
        <table>
            <tr>
                <td class="auto-style9">
                    <asp:Button ID="Button9" runat="server" Text="SADECE FORMA" Width="236px" />
                </td>
                <td class="auto-style9">
                    <asp:Button ID="Button10" runat="server" Text="ÖZEL SERİ" Width="236px" />
                </td>
                <td class="auto-style9">
                    <asp:Button ID="Button11" runat="server" Text="DERGİLER" Width="236px" />
                </td>
                <td class="auto-style9">
                    <asp:Button ID="Button12" runat="server" Text="EV&amp;OFİS" Width="236px" />
                </td>
            </tr>
        </table>
    </form>
    </body>
</html>
