﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="onlinebilet.aspx.cs" Inherits="OnlineTicket.onlinebilet" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1
        {
            width: 949px;
            height: 137px;
            margin-left: 1px;
        }
    </style>
</head>
<body style="background-color: #666666">
    <form id="form1" runat="server">
        <center>
        <img alt="" class="auto-style1" src="resim/banner5ck4.jpg" /><div> </center>
    
    </div>
        <asp:Label ID="Label1" runat="server" Text="TAKIMLAR"></asp:Label>
        <p>
            <asp:RadioButton ID="RadioButton1" runat="server" Text="BEŞİKTAŞ" />
        </p>
        <p>
            <asp:RadioButton ID="RadioButton2" runat="server" Text="GALATASARAY" />
        </p>
        <p>
            <asp:RadioButton ID="RadioButton3" runat="server" Text="TRABZONSPOR" />
        </p>
        <p>
            <asp:RadioButton ID="RadioButton4" runat="server" Text="FENERBAHÇE" />
        </p>
    </form>
    <p>
      <center>  DİĞER ETKİNLİKLER </center><a href="http://www.724bilet.com/event/?q=eq,203106" itemprop="url" style="color: rgb(13, 65, 130); font-size: 1.15em; text-decoration: underline; font-family: Helvetica, sans-serif; font-style: normal; font-variant: normal; font-weight: bold; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(244, 244, 244);" title="Manchester United - Bayern Munich Biletleri"><span itemprop="summary">Manchester United - Bayern Munich</span></a>&nbsp; </p>
    <p>
        <a href="http://www.724bilet.com/event/?q=eq,203071" itemprop="url" style="color: rgb(13, 65, 130); font-size: 1.15em; text-decoration: none; font-family: Helvetica, sans-serif; font-style: normal; font-variant: normal; font-weight: bold; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(244, 244, 244);" title="FC Barcelona - Atletico de Madrid Biletleri"><span itemprop="summary">FC Barcelona - Atletico de Madrid</span></a></p>
    <p>
        <a href="http://www.724bilet.com/event/?q=eq,203072" itemprop="url" style="color: rgb(13, 65, 130); font-size: 1.15em; text-decoration: none; font-family: Helvetica, sans-serif; font-style: normal; font-variant: normal; font-weight: bold; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(244, 244, 244);" title="Paris Saint-Germain ( PSG ) - Chelsea FC Biletleri"><span itemprop="summary">Paris Saint-Germain ( PSG ) - Chelsea FC</span></a></p>
    <p>
        <a href="http://www.724bilet.com/event/?q=eq,203069" itemprop="url" style="color: rgb(13, 65, 130); font-size: 1.15em; text-decoration: underline; font-family: Helvetica, sans-serif; font-style: normal; font-variant: normal; font-weight: bold; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(244, 244, 244);" title="Real Madrid - Borussia Dortmund Biletleri"><span itemprop="summary">Real Madrid - Borussia Dortmund</span></a></p>
    <p>
        <a href="http://www.724bilet.com/event/?q=eq,203068" itemprop="url" style="color: rgb(13, 65, 130); font-size: 1.15em; text-decoration: none; font-family: Helvetica, sans-serif; font-style: normal; font-variant: normal; font-weight: bold; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(244, 244, 244);" title="Borussia Dortmund - Real Madrid Biletleri"><span itemprop="summary">Borussia Dortmund - Real Madrid</span></a></p>
    <p>
        <a href="http://www.724bilet.com/event/?q=eq,175599" itemprop="url" style="color: rgb(13, 65, 130); font-size: 1.15em; text-decoration: none; font-family: Helvetica, sans-serif; font-style: normal; font-variant: normal; font-weight: bold; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(244, 244, 244);" title="FC Barcelona - Getafe CF Biletleri"><span itemprop="summary">FC Barcelona - Getafe CF</span></a></p>
    <p>
        <a href="http://www.724bilet.com/event/?q=eq,174540" itemprop="url" style="color: rgb(13, 65, 130); font-size: 1.15em; text-decoration: underline; font-family: Helvetica, sans-serif; font-style: normal; font-variant: normal; font-weight: bold; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(244, 244, 244);" title="Manchester United - Hull City Biletleri"><span itemprop="summary">Manchester United - Hull City</span></a></p>
    <p>
        <a href="http://www.724bilet.com/event/?q=eq,175598" itemprop="url" style="color: rgb(13, 65, 130); font-size: 1.15em; text-decoration: underline; font-family: Helvetica, sans-serif; font-style: normal; font-variant: normal; font-weight: bold; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(244, 244, 244);" title="FC Barcelona - Athletic Club Bilbao Biletleri"><span itemprop="summary">FC Barcelona - Athletic Club Bilbao</span></a></p>
</body>

</html>
