﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="SatinAlinanBiletlerim.aspx.cs" Inherits="onlineTicket.SatinAlinanBiletlerim" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">

        .auto-style1 {
            width: 52%;
            height: 566px;
        }
        .auto-style2 {
            height: 145px;
        }
        .auto-style4 {
            color: #990000;
        }
        .auto-style3 {
            width: 1109px;
            font-weight: 700;
        }
        .auto-style5 {
            width: 758px;
            height: 142px;
        }
        </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <table class="auto-style1">
            <tr>
                <td class="auto-style2" colspan="2">
                    <img alt="" class="auto-style5" src="resim/banner40ar8.jpg" /></td>
            </tr>
            <tr>
                <td >
                     <center><p class="auto-style4"> 
                    <asp:Label ID="Label1" runat="server" Text="HOŞ GELDİNİZ"></asp:Label>
                         <p style="font-weight: 700"/>
                             <asp:Label ID="Label2" runat="server" Text="Kaullanici Adi"></asp:Label>
                   <center><p class="auto-style4"> <strong>MENÜ</strong><p/>
                    <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/welcome.aspx">Ana Sayfa</asp:HyperLink>
                    </center>
                    <center><p> 
                    <asp:HyperLink ID="HyperLink3" runat="server" NavigateUrl="~/SatinAlinanBiletlerim.aspx">Satın Alınan Biletlerim</asp:HyperLink>
                        <p/>
                    <asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="~/Cikis.aspx">ÇIKIŞ</asp:HyperLink>
                    </center><br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </td>
                <td class="auto-style3" >
                    <br />
                    <asp:Label ID="Label3" runat="server" style="font-size: x-large" Text="Satın Alınan Biletlerim"></asp:Label>
                    <br />
                    <br />
                  <center>  <asp:GridView ID="GridView1" runat="server">
                    </asp:GridView>
                      <asp:SqlDataSource ID="SqlDataSource2" runat="server"></asp:SqlDataSource>
                      <asp:SqlDataSource ID="SqlDataSource1" runat="server"></asp:SqlDataSource>
                    </center>
                    <br />
                    <br />
                    <asp:Label ID="Label4" runat="server" Text="Label"></asp:Label>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
        </table>
    
    </div>
    </form>
</body>
</html>
