﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="sign.aspx.cs" Inherits="onlineTicket.sign" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 128px;
        }
        .auto-style2 {
            font-weight: bold;
            color: #FF0000;
        }
        .auto-style3 {
            width: 758px;
            height: 142px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    <center>
        <table>
            <tr>
                <td>
                    <img alt="" class="auto-style3" src="resim/banner40ar8.jpg" /></td>
            </tr>
            <tr>
                <td>
        <center><table>
            <tr>
                <td colspan="3"><marquee><p>TRABZONSPOR ONLİNE BİLET SATIŞ SİSTEMİ</p></marquee></td>
            </tr>
            <tr>
                <td>
                    <asp:Label ID="Label1" runat="server" Text="*Kullanıcı"></asp:Label>
                </td>
                <td class="auto-style1">
                    <asp:TextBox ID="TextBox1" runat="server" Width="120px" TabIndex="1"></asp:TextBox>
               OleDbConnection bag = new OleDbConnection("Provider=Microsoft.Ace.Oledb.12.0;Data Source=data.accdb");



OleDbCommand kmt = new OleDbCommand();

byte secim,sonuc;

string kullaniciAdi,parola,devam="";

do

{

Console.Clear();

Console.Write(" \n 1-Giriş \n 2-Kayıt \n 3-Çıkış \n \n Seçiminiz(1-3) --> ");

secim = Convert.ToByte(Console.ReadLine());

if (secim == 1)

{

Console.WriteLine("********* Giriş Ekranı ********** \n");

Console.Write("Kullanıcı Adı = ");

kullaniciAdi = Console.ReadLine();

Console.Write("Parola = ");

parola = Console.ReadLine();

bag.Open();

kmt.Connection = bag;

kmt.CommandText = "Select Count(*) From kullanicibil Where kullaniciAdi='" + kullaniciAdi + "' And parola='" + parola + "'";



sonuc = Convert.ToByte(kmt.ExecuteScalar().ToString());

//sorguyu çalıştır

kmt.Dispose();



bag.Close();

Console.Clear();

if (sonuc > 0)

{

Console.WriteLine("Hoşgeldiniz.Giriş başarıyla sağlandı");

Console.ReadLine();

}

else

{

Console.WriteLine("Kullanıcı Adı veya şifre Hatalı");

Console.Write("Anasayfaya dönmek  istermisiniz ( E / H ) --> ");

devam = Console.ReadLine();

}

}

else if (secim == 2)

{

Console.WriteLine("********* Kayıt Ekranı ********** \n");

Console.Write("Kullanıcı Adı = ");

kullaniciAdi = Console.ReadLine();

Console.Write("Parola = ");

parola = Console.ReadLine();

Console.Clear();

bag.Open();//

kmt.Connection = bag;

kmt.CommandText = "INSERT INTO kullanicibil(kullaniciAdi,parola) VALUES ('" + kullaniciAdi + "','" + parola + "') ";



kmt.ExecuteNonQuery();



kmt.Dispose();



bag.Close();

Console.Write("Anasayfaya dönmek  istermisiniz ( E / H ) --> ");

devam = Console.ReadLine();

}

else if (secim == 3)

{

Console.WriteLine("İyi Günler. Çıkış işlemi sağlandı. !");

Console.ReadLine();      

}

else Console.WriteLine("Yanlış seçim yaptınız !");

} while (devam.ToLower()=="e" || devam.ToLower()=="evet");

}

}

}
                    
                    
                    
                     </td>
                <td class="auto-style1">
                    <asp:Label ID="Label7" runat="server" CssClass="auto-style2" Text="Kullanıcı Mevcut" Visible="False"></asp:Label>
                </td>
            </tr>
            <tr>
                <td>
                    <asp:Label ID="Label2" runat="server" Text="*Sifre"></asp:Label>
                </td>
                <td class="auto-style1">
                    <asp:TextBox ID="TextBox2" TextMode="password" runat="server" MaxLength="8" Width="120px" TabIndex="2"></asp:TextBox>
                </td>
                <td class="auto-style1" rowspan="2">
                    <asp:Label ID="Label8" runat="server" CssClass="auto-style2" Text="Şifreler Uyuşmuyor" Visible="False"></asp:Label>
                </td>
            </tr>
            <tr>
               <td>
                   <center>  
                       <asp:Label ID="Label4" runat="server" Text="*Şifre Tekrar"></asp:Label>
                </td>
                  
               <td class="auto-style1">
                   <asp:TextBox ID="TextBox3" TextMode="password" runat="server" MaxLength="8" Width="120px" TabIndex="3"></asp:TextBox>
                </td>
                  
            </tr>
            <tr>
               <td>
                   <asp:Label ID="Label5" runat="server" Text="*E-Mail"></asp:Label>
                </td>
                  
               <td class="auto-style1">
                   <asp:TextBox ID="TextBox4" runat="server" Width="120px" TabIndex="4"></asp:TextBox>
                </td>
                  
               <td class="auto-style1" rowspan="2">
                   <asp:Label ID="Label10" runat="server" CssClass="auto-style2" Text="Mail Adresini Kontrol Et!" Visible="False"></asp:Label>
                </td>
                  
            </tr>
            <tr>
               <td>
                   <asp:Label ID="Label6" runat="server" Text="*E-Mail Tekrar"></asp:Label>
                </td>
                  
               <td class="auto-style1">
                   <asp:TextBox ID="TextBox5" runat="server" Width="120px" TabIndex="5"></asp:TextBox>
                </td>
                  
            </tr>
            <tr>
               <td colspan="3">
                  <center> <asp:Button ID="Button1" runat="server" Text="Kaydet" OnClick="Button1_Click" style="font-weight: 700" Width="73px" /> &nbsp;<asp:Button ID="Button2" runat="server" OnClick="Button2_Click" style="font-weight: 700" Text="Temizle" />
                      <br />
                   <asp:Label ID="Label11" runat="server" CssClass="auto-style2" Text="Boş Alan Bırakılamaz !" Visible="False"></asp:Label>
                   </center>
                </td>
                  
            </tr>
        </table>
            </center>
                    <br />
                </td>
            </tr>
        </table>
        <br />
        <br />
    </center>
    
    </div>
    </form>
</body>
</html>
