﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="üyegirisi.aspx.cs" Inherits="OnlineTicket.üyegirisi" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1
        {
            width: 758px;
            height: 142px;
        }
    </style>
</head>
<body style="background-color: #666666">
    <form id="form1" runat="server">
    <div>
    <center>
        <img alt="" class="auto-style1" src="resim/banner5ck4.jpg" /></div> </center>
    <p>
        <center><font size="9">ÜYE KAYIT FORMU<br />
            </font></center>
        <asp:Label ID="Label1" runat="server" Text="ADINIZ SOYADINIZ"></asp:Label>
        <asp:TextBox ID="TextBox1" runat="server" Width="160px"></asp:TextBox>
&nbsp;<p>
            <asp:Label ID="Label2" runat="server" Text="E-POSTA ADRESİNİZ"></asp:Label>
            <asp:TextBox ID="TextBox2" runat="server" Width="160px"></asp:TextBox>
        </p>
        <p>
            <asp:Label ID="Label3" runat="server" Text="ŞİFRENİZ"></asp:Label>
            <asp:TextBox ID="TextBox3" runat="server" Width="160px"></asp:TextBox>
        </p>
        <p>
            <asp:Label ID="Label4" runat="server" Text="ŞİFRENİZ(TEKRAR)"></asp:Label>
            <asp:TextBox ID="TextBox4" runat="server" Width="160px"></asp:TextBox>
        </p>
        <p>
            &nbsp;</p>
        <p>
            &nbsp;</p>
        <p>
            <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="KAYDET" />
        </p>
    </form>
    </body>
</html>
